.button{
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
}
.button:hover{
    box-shadow: violet;
    transition: 0.3s;
    background-color: darkviolet;
}
.Home-bg{
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    padding:50px;
    padding-top: 350px;
}
.search-bar{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
    margin: 20px;
}