.main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 50px;
    padding-top: 40px;
    background-color: #262724;
    position: fixed;
 
}
button{
    width: 80px;
    height: 30px;
    font-size: 20px;
    background-color: violet;
    margin-right: 100px;
    border-radius: 10px;
    font-family: poppins;
}
.icons{
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: poppins;
}

.icons:hover {
    text-decoration: underline;
    color: violet;
    
}
